<div class="mt-4">
    <h3>UPDATE</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Pass</th>
                <th scope="col">SDT</th>
                <th scope="col">Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.user}}</td>
                <td>{{this.pass}}</td>
                <td>{{this.sdt}}</td>
                <td>{{this.createdAt}}</td>
                <td><a href="/courses/{{this._id}}/edit" class="btn btn-link" style="text-decoration: none;">Sửa</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-course-modal" style="text-decoration: none;">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa dữ liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn xác nhận xóa dữ liệu ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-primary">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete hidden form --}}
  <form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
       
        });
        //delete click
        btnDeleteCourse.onclick = function(){

            deleteForm.action = '/courses/'+courseId+'?_method=DELETE';
            deleteForm.submit();
        }



    });

</script>