<div class="mt-4">
    <form method="GET" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            {{!-- <input type="text" name="fullname">
            <input type="text" name="age"> --}}
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

{{!-- hien thi kq tim kiem --}}

   <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">User</th>
                <th scope="col">Pass</th>
                <th scope="col">SDT</th>
                <th scope="col">Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.user}}</td>
                <td>{{this.pass}}</td>
                <td>{{this.sdt}}</td>
                <td>{{this.createdAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>